<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/addUser}" th:object="${newUser}">
    <label for="User name"> User name: </label>
    <input type="text" th:field="*{userName}" id="User name"/>
    <br>
    <br>
    <label for="Password"> LastName: </label>
    <input type="text" th:field="*{password}" id="Password"/>
    <br>
    <br>
    <select name="roles" id="role1" required th:field="*{role}" th:object="${userRole}">
        <option hidden value=""></option>
        <option value="ROLE_USER">ROLE_USER</option>
        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Create!"/>
</form>
<br>
<br>
<input type="button" onclick="history.back();" value="Назад"/>
</body>
</html>