<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/addUser}" th:object="${newUser}">
        <label for="User name"> User name: </label>
        <input type="text" th:field="*{userName}" id="User name"/>
        <br>
        <br>
        <label for="Password"> Password: </label>
        <input type="text" th:field="*{password}" id="Password"/>
        <br>
        <br>
        <label for="Role 1"> Role 1: </label>
        <select name="role1" id="Role 1">
            <option value="0"></option>
            <option value="1">ROLE_USER</option>
            <option value="2">ROLE_ADMIN</option>
        </select>

        <label for="Role 2"> Role 2: </label>
        <select name="role1" id="Role 2">
            <option value="0"></option>
            <option value="1">ROLE_USER</option>
            <option value="2">ROLE_ADMIN</option>
        </select>
        <input type="submit" value="Create!"/>
        <br>
        <br>
        <input type="button" onclick="history.back();" value="Назад"/>
    </form>
</body>
</html>
<!--    <select name="roles" id="role1" required th:field="*{role}" th:object="${userRole}">-->
<!--        <option hidden value=""></option>-->
<!--        <option value="ROLE_USER">ROLE_USER</option>-->
<!--        <option value="ROLE_ADMIN">ROLE_ADMIN</option>-->
<!--    </select>-->